@model List<MVCProject.Models.BookViewModel>

@{
    ViewData["Title"] = "Books List";
}
<div class=" d-flex align-items-center justify-content-between">
    <h2>Book List</h2>

    <a href="@Url.Action("Create", "Book")" class="btn btn-primary">Add New Book</a>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Publish Date</th>
            <th>ISBN</th>
            <th>Copies Available</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.AuthorFullName</td>
                    <td>@book.Genre</td>
                    <td>@book.PublishDate.ToString("yyyy-MM-dd")</td>
                    <td>@book.ISBN</td>
                    <td>@book.CopiesAvailable</td>
                    <td> 
                        <div class="d-flex gap-2"> <!-- Flexbox ve aralık için gap-2 kullanıldı -->
                            <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-info btn-sm">Details</a>
                            <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </td>
                </tr>
        }
    </tbody>
</table>

